.App {
  text-align: center;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(to bottom, #ead3aa, #f3b037);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
